.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}

div.base {
  border: 1px solid #ccc;
  box-shadow: 4px 4px 0 #f3f3f3;
  border-radius: 5px;
  padding: 1em;
}
div.base ul {
  padding: 0 0 0 3em;
  margin: 0 0 .85em;
}
div.base::before {
  content: "In base R";
  font-size: 1.1em;
  font-weight: 700;
  padding-bottom: .8em;
  padding-top: .5em;
  padding-left: .7em;
  display: block;
  color: #333;
}
