.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}

div.sidebar, div.base {
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 1em 0;
}

div.sidebar ul, div.base ul {
  padding: 0 0 0 3em;
  margin: 0 0 .85em 0;
}

div.base::before {
  display: block;
  content: "In base R";
}

div.base::before,
.book .book-body .page-wrapper .page-inner section.normal .sidebar h2 {
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  color: #333;
}

.todo {
  display: block;
  border: 1px solid red;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.todo::before {
  content: "TO DO: ";
  font-weight: bold;
  color: red;
}
