<li class="dropdown-header">Getting started</li>
<li><a href="Philosophy.html">Philosophy</a></li>
<li><a href="Package-basics.html">Package basics</a></li>
<li><a href="Package-development-cycle.html">Package development cycle</a></li>
<li><a href="Package-quick-reference.html">Quick ref</a></li>
<li class="dropdown-header">Documentation</li>
<li><a href="Documenting-packages.html">Documenting packages</a></li>
<li><a href="Documenting-functions.html">Documenting functions</a></li>
<li><a href="Namespaces.html">Namespaces</a></li>
<li class="dropdown-header">Best practices</li>
<li><a href="Style.html">Good code style</a></li>
<li><a href="Testing.html">Testing</a></li>
<li><a href="Git.html">Git and github</a></li>
<li><a href="Release.html">Release</a></li>
