<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}: Advanced R.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/highlight.css" rel="stylesheet">
    
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Programming <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">A</a></li>
              <li><a href="">B</a></li>
              <li><a href="">C</a></li>
            </ul>
          </li>
          <li><a href="/contribute.html">Contribute</a></li>
          <li class="active"><a href="/">Home</a></li>
        </ul>

        <h3 class="muted"><a href="/">R programming</a></h3>
        <hr>
      </div>

      <div class="row">
        <div class="col-sm-8">
        {{ content }}
        </div>

        <div class="col-sm-3 pull-right">
        <a href="https://github.com/hadley/adv-r/ace/edit/master/{{page.path}}">Edit this page</a>
        </div>
      </div>

      <div class="footer">
        <hr>
        <p>&copy; Hadley Wickham.</p>
      </div>

    </div> <!-- /container -->

  <script src="//code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
              
  </body>
</html>
